{% extends 'AppBundle:Project:show.html.twig' %}

{% import _self as mac %}

{% block view %}
    {% set allIssues = project.issues %}
        <div class="row">
            <div class="col-md-3">
                {{ mac.col(allIssues, 'todo', 'To do') }}
            </div>
            <div class="col-md-3">
                {{ mac.col(allIssues, 'inprogress', 'In progress') }}
            </div>
            <div class="col-md-3">
               {{ mac.col(allIssues, 'inqualification', 'In qualification') }}
            </div>
            <div class="col-md-3">
               {{ mac.col(allIssues, 'done', 'Done') }}
            </div>
        </div>
{% endblock view %}



{% macro col(allIssues, type, label) %}
    <div class="col">
        <h3 class="status"><span class="count">{{allIssues[type] is defined? (allIssues[type]|length):'0'}}</span> {{label}}</h3>
        <div class="{{type}}  status" data-status="{{type}}">
            {% if allIssues[type] is defined %}
                {% for issue in allIssues[type] %}
                     <li class="card {{issue.type.shortname}}" data-name="{{issue.name}}" data-id="{{issue.id}}" >
                        <img src="" class="avatar" alt="{{issue.assignee.username is defined ? issue.assignee.username:''}}" title="{{issue.assignee.username is defined?issue.assignee.username:''}}" />
                        <i class="fa fa-{{issue.type.shortname}}" alt="{{issue.type}}" title="{{issue.type}}" ></i> <a href="{{path('issue_show', {'id':issue.id} )}}" class="quick_view">{{issue.name}}</a><br/>
                        <i class="fa fa-{{issue.priority.shortname}}" alt="{{issue.priority}}" title="{{issue.priority}}" ></i>  {{issue.summary}}
                    </li>
                {% endfor %}
            {% endif %}
        </div>
     </div>
{% endmacro %}
