{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Issue list</h1>

    <table class="records_list">
        <thead>
            <tr>
                <th>Id</th>
                <th>Summary</th>
                <th>Priority</th>
                <th>Duedate</th>
                <th>Component</th>
                <th>Environment</th>
                <th>Description</th>
                <th>Original_estimate</th>
                <th>Remaining_estimate</th>
                <th>Labels</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for issue in entities %}
            <tr>
                <td><a href="{{ path('issue_show', { 'id': issue.id }) }}">{{ issue.id }}</a></td>
                <td>{{ issue.summary }}</td>
                <td>{{ issue.priority }}</td>
                <td>{% if issue.dueDate %}{{ issue.dueDate|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ issue.component }}</td>
                <td>{{ issue.environment }}</td>
                <td>{{ issue.description }}</td>
                <td>{{ issue.originalestimate }}</td>
                <td>{{ issue.remainingestimate }}</td>
                <td>{{ issue.labels }}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('issue_show', { 'id': issue.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('issue_edit', { 'id': issue.id }) }}">edit</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('issue_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
    {% endblock %}
