{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Issue</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Summary</th>
                <td>{{ entity.summary }}</td>
            </tr>
            <tr>
                <th>Priority</th>
                <td>{{ entity.priority }}</td>
            </tr>
            <tr>
                <th>Duedate</th>
                <td>{{ entity.dueDate|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Component</th>
                <td>{{ entity.component }}</td>
            </tr>
            <tr>
                <th>Environment</th>
                <td>{{ entity.environment }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ entity.description }}</td>
            </tr>
            <tr>
                <th>Original_estimate</th>
                <td>{{ entity.originalestimate }}</td>
            </tr>
            <tr>
                <th>Remaining_estimate</th>
                <td>{{ entity.remainingestimate }}</td>
            </tr>
            <tr>
                <th>Labels</th>
                <td>{{ entity.labels }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('issue') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('issue_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
