{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Issue</h1>

    <table class="record_properties table table-bordered table-striped table-condensed">
        <tbody>
            <tr>
                <th class="tiny" >Id</th>
                <td>{{ issue.id }}</td>
            </tr>
             <tr>
                <th>Status</th>
                <td>{{ issue.status }}</td>
            </tr>
             <tr>
                <th>Type</th>
                <td>{{ issue.type }}</td>
            </tr>
            <tr>
                <th>Summary</th>
                <td>{{ issue.summary }}</td>
            </tr>
            <tr>
                <th>Priority</th>
                <td>{{ issue.priority }}</td>
            </tr>
            <tr>
                <th>Duedate</th>
                <td>{{ issue.dueDate|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Component</th>
                <td>{{ issue.component }}</td>
            </tr>
            <tr>
                <th>Environment</th>
                <td>{{ issue.environment }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ issue.description }}</td>
            </tr>
            <tr>
                <th>Original_estimate</th>
                <td>{{ issue.originalestimate }}</td>
            </tr>
            <tr>
                <th>Remaining_estimate</th>
                <td>{{ issue.remainingestimate }}</td>
            </tr>
            <tr>
                <th>Labels</th>
                <td>{{ issue.labels }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('issue') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('issue_edit', { 'id': issue.id }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
