<nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Murcs</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Murcs</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            {% if app.user %}
            	<li class="dropdown">
              		<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Projects <span class="caret"></span></a>
	              <ul class="dropdown-menu" role="menu">
	                {% if app.user.project is defined %}
	                  {% for project in app.user.project %}
	                      <li><a href="{{path('project_show', {'id':project.id})}}">{{project.name}}</a></li>
	                  {% endfor %}
	                {% endif %}
	                <li class="divider"></li>
	                <li><a href="{{path('project_new')}}">{{"New project"|trans}}</a></li>
	              </ul>
	            </li>
	             {% if app.user.project is defined %}
	            <li>
	              <button type="button" class="btn btn-primary " data-toggle="modal" data-target="#issueModal" {{ app.user.project|length>0?'':'disabled'}} >
	                {{"Issue"|trans}}
	              </button>
	            </li>
		        {% endif %}
		    {% endif %}
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>